.panel
    h1 'Allo, 'Allo!
      p You now have
      ul
        li(ng-repeat='thing in awesomeThings') {{thing}}
      p installed.
      button(ng-click='addThing("foo")') Add a Foo
      button(ng-click='removeThing(0)') Remove Top Item
      h3 Enjoy coding! - Yeoman
